<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://www.crecientech.com/images/crecientechInfosystem.png">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.crecientech.com">Crecientech Test</a></h2>
    <h2><a target="_blank" rel="noopener" href="https://www.crecientech.com">Crecientech Production</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">Crecientech Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Crecientech blog</a></h2>
  </li>
</ul>
<router-outlet></router-outlet>
